{% extends 'Layout.html' %}

{% block content %}
<!--TESTING IMAGE PROBABLY WILL BE -->

      <section class="post">
          <div class="row">
              <div class="large-5 medium-5 small-5 columns">
                  <ul>
                      <li><a href="#" class="btn postjob">Post Job</a></li>
                  </ul>
              </div>
          </div>
      </section>
    <!--TESTING EQUILIZER-->
    <div class="row" >
        <div class="large-12 columns">
            <div class="large-6 medium-6 small-6 columns port">
              <div class="img">
                <img src="img/stick%20man161-64.png"/>
                </div>
                <div class="details">
                  <ul>
                      <li>Bill Chabari</li>
                      <li>Front end Developer</li>
                      <li>Nairobi, Galana Plaza</li>
                  </ul>
                    <div class="bio">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                    </div>


                </div>
                <a href="#" class="btn view">View Portfolio</a>
            </div>


            <div class="large-6 medium-6 small-6 columns port">
              <div class="img">
                <img src="img/stick%20man161-64.png"/>
                </div>
                <div class="details">
                  <ul>
                      <li>Bill Chabari</li>
                      <li>Backend Developer</li>
                      <li>Nairobi, Galana Plaza</li>
                  </ul>
                    <div class="bio">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                    </div>

                </div>
                  <a href="#" class="btn view">View Portfolio</a>
            </div>
        </div>
        <div class="large-12 columns">
            <div class="large-6 medium-6 small-6 columns port">
              <div class="img">
                <img src="img/stick%20man161-64.png"/>
                </div>
                <div class="details">
                  <ul>
                      <li>Bill Chabari</li>
                      <li>Front end Developer</li>
                      <li>Nairobi, Galana Plaza</li>
                  </ul>
                    <div class="bio">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                    </div>



                </div>
                 <a href="#" class="btn view">View Portfolio</a>
            </div>


            <div class="large-6 medium-6 small-6 columns port">
              <div class="img">
                <img src="img/stick%20man161-64.png"/>
                </div>
                <div class="details">
                  <ul>
                      <li>Bill Chabari</li>
                      <li>Backend Developer</li>
                      <li>Nairobi, Galana Plaza</li>
                  </ul>
                    <div class="bio">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                    </div>



                </div>
                <a href="#" class="btn view">View Portfolio</a>
            </div>
        </div>
    </div>

{% endblock %}
