{% extends "Layout.html" %}
{% block content %}
<div class="cont-box">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
     <div class="large-12 small-12 columns reg">
         <div class="large-6 medium-6 small-6 columns">
             <a href="/dev/profile/me" class="btn mdm sqr">Developer</a>
         </div>

         <div class="large-6 medium-6 small-6 columns">
             <a href="/emp/home" class="btn mdm sqr">Employer</a>
         </div>
     </div>
   </div>
   <br>
   <br>
   <br>
</div>
{% endblock %}
