{% extends 'Layout.html' %} {% load static from staticfiles %} {% block content %}
<div class="wrapper">
  <div class="parallax filter-gradient green" data-color="green">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">

          <div class="description">
            <h2>WE CONNECT
              <a href="/dev/home/">
                <span class="btn btn-success square-md">DEVELOPERS</span>
              </a> AND
              <a href="/emp/home/">
                <span class="btn btn-info square-md">EMPLOYERS</span>
              </a>
            </h2>
            <br>
            <h5></h5>
          </div>


          <div class="buttons">
            <div class="begin">
              <a href="/start/" class="btn btn-default square">BEGIN</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="section section-gray section-clients">
    <div class="container text-center">
      <h4 class="header-text">Patners</h4>
      <div class="logos">
        <ul class="list-unstyled">
          <li>
            <img src="{% static 'img/adobe.png' %}" />
          </li>
          <li>
            <img src="{% static 'img/zendesk.png' %}" />
          </li>
          <li>
            <img src="{% static 'img/ebay.png' %}" />
            </i>
            <li>
              <img src="{% static 'img/evernote.png' %}" />
            </li>
            <li>
              <img src="{% static 'img/airbnb.png' %}" />
            </li>
            <li>
              <img src="{% static 'img/zappos.png' %}" />
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section section-features">
    <div class="container">
      <h4 class="header-text text-center">How It Works</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blue">
            <!--<div class="icon">
              <i class="pe-7s-note2"></i>
            </div>-->
            <div class="text">
              <h4>Online Customers Management</h4>
              <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blue">
            <div class="icon">
              <i class="pe-7s-bell"></i>
            </div>
            <h4>Smart Notifications on hands</h4>
            <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blue">
            <div class="icon">
              <i class="pe-7s-graph1"></i>
            </div>
            <h4>Know your business better now</h4>
            <p>Take payments and run your business on the go, in your store and then see how it all adds up with analytics.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
