{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DevBox</title>

  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{% static 'css/pen-icons.css' %}" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

  <body class="landing-page landing-page1">

    <!--navbar-->
     {% if user.is_authenticated and developer %}

       {% include "nav/_navbar_dev.html" %}

     {% elif user.is_authenticated and employer %}

       {% include "nav/_navbar_emp.html" %}

     {% else %}

       {% include "nav/_navbar_user.html" %}

     {% endif %}
     <!--navbar-->

    {% block content %} {% endblock %}


    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>

            <li>
              <a href="/">Home</a>
            </li>

          </ul>
        </nav>
        <div class="social-area pull-right">
          <a class="btn btn-social btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="btn btn-social btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-social btn-pinterest btn-simple">
            <i class="fa fa-pinterest"></i>
          </a>
        </div>
        <div class="copyright">
          &copy; 2015 <a href="/">DEVBOX</a>, home of engineers
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
  </body>
</html>
